.item__card {
    display        : flex;
    flex-direction : column;
    justify-content: space-between;
    width          : 100%;
    height         : 100%;
}

.item__li {
    list-style-type: none;
    width          : 17em;
    height         : 17em;
    margin         : 1em;
}

.item__li h2 {
    margin    : 0;
    align-self: center;
}


.item__li .item__price {
    align-self  : flex-start;
    justify-self: flex-end;
}

.item__cart-icon {
    width : 1.5em;
    height: 1.5em;
}

.item__category {
    text-decoration : none;
    color           : white;
    background-color: red;
    border          : 0px solid black;
    padding         : .2em;
    border-radius   : 10%;
}

.item__bottom {
    display        : flex;
    justify-items  : center;
    align-items    : center;
    justify-content: space-around;
}

.item__category-skydiving {
    background-color: red;
}

.item__category-paragliding {
    background-color: blue;
}

.item__category-other {
    background-color: gray;
}